<div class="login-container">
  <h2>Iniciar Sesión</h2>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" formControlName="email" placeholder="admin@miapp.com">
      
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="error">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Correo obligatorio</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo inválido</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" placeholder="123456">
      
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña obligatoria</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Contraseña mínima de 6 caracteres</small>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-global">
      {{ errorMessage }}
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
  </form>
</div>
